.table {
    text-align: left;
    border-collapse: collapse;
}

.table thead {
    background-color: #343a40;
    color: whitesmoke;
    height: 50px;
}

.table thead th,
.table tbody td {
    padding-left: 20px;;
}
.table tbody td {
    height: 50px;
    border-bottom: 1px solid #E5E5E5;
}